/* font-styles */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

/* banner section */

.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    border-radius: 10px;
    background-image: url(/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;

}

/* font-style */
.banner-title{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner-title >h4{
padding-top: 20px;    
color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
    
}

.banner-title>h1{
    padding-top: 25px;
    font-size: 72px;

}

/* 65%-section-container */

.section-container{
 width: 802.9px;
 height: 890px;
 margin: 0 auto;
 margin-top: 90px;
 
}



/* section-title-styles */


.section-title{
   text-align: center;
}


.section-title>h1{
color: rgb(255, 0, 0);
font-family: 'Inter', sans-serif;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
text-align: center;
padding-left: 209px;
padding-right: 210px;
}

.section-desc>p{
color: rgb(255, 0, 0);
font-family: 'Inter',sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}
.section-desc{
  padding-top: 100px;
  padding-left:203px;
  padding-right:202px;
}

.section-desc>h3{
 color: rgb(7, 2, 17);
font-family: 'Inter', sans-serif;
font-size: 42px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
margin-top: 10px;
text-align: center;
}

.section-image{
  padding-top: 80px; 
  height: 586px;
}


/* midnight-part */

.vector-part{
  background-image: url(/images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width:1320px;
  height:700px;
  margin: 0 auto;
  margin-top: 120px;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: overlay;
  margin-bottom: 120px;
  border-radius: 7px;
}

.vector-parent{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 /* parent-div of left and right part*/
.vector-title{
  width: 50%;
  height: 600px;
}

/* left-part */
.vector-title>h1{
 
color: rgb(255, 255, 255);
font-family: 'Merriweather',sans-serif;
font-size: 64px;
font-weight: 900;
line-height: 88px;
margin-top:100px;
margin-left:126px;
letter-spacing: 10%;
text-align: left; 
}

.vector-title>p{
 color: rgba(255, 255, 255, 0.8);
 font-family: 'Inter',sans-serif;
 font-size: 18px;
 font-weight: 400;
 margin-left: 126px;
 line-height: 20px;
 letter-spacing: 0%;
 text-align: left;
}

.vector-title .vector-btn{
   margin-top: 48px;
   margin-left: 110px;
   padding: 10px 20px;
   background: transparent;
   border: none;
   color: white;
   font-size: 40px;
   cursor: pointer;
  }


/* right-part */

  .vector-img{
    height: 600px;
    margin-top: 68px;
    margin-right: 108px;
    margin-bottom: 60px;
  }

  /* date-place-time  */

  .place-date-time{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 250px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
  }

  .parent-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
    width: 100%;
    height: 100%;
  }

  /*btn-part of date-place-time */

  .parent-div .join-now-btn{
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin-top:48px;
    padding: 17px 43px 17px 43px;
    color: white;
    font-size: 20px;
    border: none;
  
  }


  /* text-part-of-date & time section */

  .title .margin-part-line1{
    font-weight: 500;
    font-family: 'Inter',sans-serif;
    font-size: 15px;
    padding-top: 5px;
    margin-left: 120px;
    margin-right: 160px;
  }

  .title .margin-part-line2{
    font-weight: 500;
    margin-left: 60px;
    padding-top: 5px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
  }
  .title .margin-part-line3{
    font-weight: 500;
    padding-top: 5px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
  }

  .title  .red-title{
     font-size: 30px;
     color: rgb(255, 0, 0);

  }

   /* best-offer-part */

   .best-offer-part{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-bottom: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    }
   .left-part{
    width: 361px;
    height: 256px;
   }
  .left-part h2 span{
    color: rgb(255, 0, 0);
     font-size: 30px;
  }
  
 
  .left-part h1{
    color: rgb(7, 2, 17);
    font-size: 48px;
    padding-top: 30px;
    font-weight: 900;  
    line-height: 60px;
    text-align: left;
    
  }

  .left-part p{
    color: rgba(7, 2, 17, 0.6);
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-top: 22px;
    max-width: 393px;
    max-height: 128px;
  }

  /* middle-part */

.outside-part{
  width:463px;
  height:463px;
  border: 2px solid rgb(255, 25, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
}

.middle-inside-img-part{
 width: 364px;
 height: 364px; 
}


/* right part of best-offer */

.title-part{
 margin-bottom: 120px;
  width: 276px;
  height: 170px;
  display: inline-block;
}

.title-part h1{
color: rgb(255, 0, 0);
font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: left;
}

.title-part p{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
}

.best-offer-part .title-part{
  margin-top: 112px;
  width: 276px;
  height: 170px;
}

.img{
  margin-bottom: 90px;
}



/* holiday-sale  */

.holidays-sale{
  display: fl;
  width: 1320px;
  height: 986.07px;
  margin: 0 auto;
  border: 2px solid salmon;
}

/* title-part */

.parent-dive{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-part-2{
width: 1068px;
height: 260px;
padding: 0px 126px 378px 126px;
}

.title-child{
  padding: 0px 196px 35px 195px;
}

.title-child h4{
  color: rgb(7, 2, 17);
font-family: 'Inter',sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29px;
text-align: center;
}

.title-child span{
  color: rgb(255, 0, 0);
}
.title-child h2{
  padding-top: 10px;
  font-size: 45px;
  text-align: center;
}

.title-part-2 p{
 color: rgba(7, 2, 17, 0.6);
 font-family: 'Inter',sans-serif;
 font-size: 20px;
 font-weight: 500;
 text-align: center;
}

.img-part{
  border: 2px solid violet;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side{
  width:796.46px;
  height:640px;
  border: 2px solid rebeccapurple;

}

.right-side{
  width: 524px;
  height: 640px;
  border: 2px solid brown;
}